* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    --biege: #fffbef;
    --dark-red: #a00000;
    --teal-blue: #4682B4;
    --deep-brown: #4A3B36;
    --charcoal: #333333;
}

html {
    scroll-behavior: smooth;
}

nav {
    padding: 0px 15px;
    position: fixed;
    background-color: #FFFFFF;
    position: fixed;
    width: 98%;
    top: 0;
    box-shadow: 0 0 1rem #000000;
    z-index: 3;
}

.web-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 8%;
    height: auto;
    padding: 0.1rem;
}

.web-navlist {
    display: flex;
    align-items: center;
}

.nav-items {
    list-style: none;
    padding: 0 15px;
}

.nav-links {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 18px;
}

.nav-links:hover {
    border-bottom: 2px solid var(--dark-red);
}

.nav-links:active {
    border-bottom: 2px solid var(--dark-red);
}
.mob-nav{
    display: none;
}
#home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 50px;
    height: 100vh;
    position: relative;
    background-image: url(/assets/img/Simple\ Shiny\ \(1\).svg);
    background-size: cover;
    background-position: center;
}

.content {
    width: 60%;
    color: #333333;
}

.content-text h1 {
    font-size: 80px;
    font-weight: 800;
    color: var(--charcoal);
}

.content-text h2 {
    font-size: 3rem;
}

p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.content-text {
    margin-bottom: 50px;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.social-media img {
    width: 2rem;
    height: auto;
    opacity: 0.7;
}

.btn {
    background-color: var(--dark-red);
    font-size: 1em;
    color: #ffffff;
    padding: 15px 25px;
    margin: 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    border: none;
}

.btn:hover {
    background-color: #8B0000;
}

.link {
    font-size: 1.1rem;
    color: var(--teal-blue);
    cursor: pointer;
}

.links .link:hover {
    color: #004c8a;
}

footer {
    background-color: #000000;
    color: #777775;
    text-align: center;
    font-size: 0.5rem;
}
